<div id="container">
    <header>
        <div class="topLine"></div>
        <a href="/#/" id="logoAnchor"><img src="../img/logo.png" id="logo"></a>
        <a href="#/searchCandidates" id="searchAnchor">
            <button id="searchButton">Search Candidates</button>
        </a>
    </header>
    <main>
        <section class="clients">
            <h2>Clients</h2>
            <ul class="listOfClients" ng-repeat="client in clients.clients">
                <li>
                    <a href="#/client/{{client._id}}">{{client.name}}</a>
                    <button class="removeButton" ng-click="clients.deleteClient(client._id)">
                        <img src="img/trash.png">
                    </button>
                </li>
            </ul>
            <aside class="addElement">
                <h3>Add new client</h3>
                <form method="post">
                    Name: <input type="text" class="nameOfClient" ng-model="clients.formData.clientName">
                    <button type="submit" class="addClient" ng-click="clients.createClient()">
                        Add
                    </button>
                </form>
            </aside>
        </section>
    </main>
    <footer>
        2016
    </footer>
</div>