<div id="container">
    <header>
        <div class="topLine"></div>
        <img src="../img/back_icon.png" class="back_icon" ng-click="detailsOfCandidate.goBack()">
        <a href="/#/" id="logoAnchor"><img src="img/logo.png" id="logo"></a>
        <a href="#/searchCandidates" id="searchAnchor">
            <button id="searchButton">Search Candidates</button>
        </a>
    </header>
    <main>
        <h2>
            Candidate: <span class='nameOfCandidate'>
                          {{detailsOfCandidate.nameOfCandidate}} {{detailsOfCandidate.surnameOfCandidate}}
                       </span><br>
            <span class='nameOfProject'></span><br>
            <span class='nameOfClient'></span>
        </h2>
        <section ng-repeat="detailSection in detailsOfCandidate.details">
                <h3>{{detailSection.nameOfSection}}</h3>
                <div ng-repeat="formNb in detailSection.nbOfForms track by $index">
                <form>
                    <div ng-repeat="detailField in detailsOfCandidate.getSectionFields(detailSection, formNb)">
                        <span>{{detailField.name}}</span>
                        <input id="{{detailField.id}}" type="{{detailField.type}}"
                               ng-model="detailField.text" ng-if="detailField.type == 'text'">
                        <textarea id="{{detailField.id}}" ng-model="detailField.text"
                                  ng-if="detailField.type == 'textarea'">
                        </textarea>
                    </div><br>
                    <div class="plus" ng-if="$last && detailSection.toRollOut">
                        <img src="../img/plus.png" id="plusImg" ng-click="detailsOfCandidate.addForm(detailSection)">
                    </div>
                </form>
                </div>
        </section>
        <button type="button" id="saveCandidateInfo"
                ng-click="detailsOfCandidate.saveDetails()">Save
        </button>
    </main>
    <footer>
        2016
    </footer>
</div>