<div id="container">
    <header>
        <div class="topLine"></div>
        <a href="#"><img src="../img/back_icon.png" class="back_icon"></a>
        <a href="/#/" id="logoAnchor"><img src="../img/logo.png" id="logo"></a>
        <a href="/searchCandidates" id="searchAnchor">
            <button id="searchButton">Search Candidates</button>
        </a>
    </header>
    <main>
        <section class="projects">
            <h2>
                Client: {{clientName}}<br>
                Projects
            </h2>
            <ul class="listOfProjects" ng-repeat="project in projects | filter : {'clientID': clientID}">
                <li>
                    <a href="#/client/{{clientID}}/project/{{project._id}}">{{project.name}}</a>
                    <button class="removeButton" ng-click="deleteProject(project._id)">
                        <img src="img/trash.png">
                    </button>
                </li>
            </ul>
            <aside class="addElement">
                <h3>Add new project</h3>
                <form method="post">
                    Name: <input type="text" class="nameOfProject" ng-model="formData.projectName">
                    <button type="submit" class="addProject" ng-click="createProject()">
                        Add
                    </button>
                </form>
            </aside>
        </section>
    </main>
    <footer>
        2016
    </footer>
</div>