<div id="container">
    <header>
        <div class="topLine"></div>
        <img src="../img/back_icon.png" class="back_icon" ng-click="searchCandidates.goBack()">
        <a href="/#/" id="logoAnchor"><img src="img/logo.jpg" id="logo"></a>
    </header>
    <main>
        <div id="sectionsWrapper">
            <section id="searchForm">
                <form method="get" action="/searchCandidates">
                    <span>Name: </span>
                    <input name="name" id="name" type="text" ng-model="searchCandidates.inputName">
                    <span>Surname: </span>
                    <input name="surname" id="surname" type="text" ng-model="searchCandidates.inputSurname">
                    <span>Recommended on: </span>
                    <input name="recommendedOn" id="recommendedOn" type="text" ng-model="searchCandidates.inputRecommendedOn">
                    <span>Current position: </span>
                    <input name="currentPosition" id="currentPosition" type="text" ng-model="searchCandidates.inputCurrentPosition">
                    <span>Languages: </span>
                    <input name="languages" id="languages" type="text" ng-model="searchCandidates.inputLanguages">
                    <span>Technical skills: </span>
                    <textarea name="techSkills" id="techSkills" ng-model="searchCandidates.inputTechSkills"></textarea><br>
                </form>
            </section>
            <section id="results">
                <ul class="listOfCandidates" ng-repeat="candidate in searchCandidates.allCandidates |
                filter: {name: searchCandidates.inputName} |
                filter: {surname: searchCandidates.inputSurname} |
                filter: {details: {basicInfo: {fields: {recommendedOn: {text: searchCandidates.inputRecommendedOn}}}}} |
                filter: {details: {basicInfo: {fields: {currentPosition: {text: searchCandidates.inputCurrentPosition}}}}} |
                filter: {details: {basicInfo: {fields: {languages: {text: searchCandidates.inputLanguages}}}}} |
                filter: {details: {techSkills: {fields: {techSkills: {text: searchCandidates.inputTechSkills}}}}}">
                    <li><a href="#/detailsOfCandidate/{{candidate._id}}">{{candidate.name}} {{candidate.surname}} </a></li>
                </ul>
            </section>
        </div>
        <div id="clearDiv"></div>
    </main>
    <footer>
        2016
    </footer>
</div>