main section {
    width: 400px;
    float: left;
    margin: 0 5px;
}

.listOfCandidates {
    margin-top: 30px;
}

.addElement {
    width: 290px;
    display: block;
    margin: 0 auto;
}

.wrapSections {
    width: 820px;
    margin: 0 auto;
    display: block;
}

textarea {
    width: 100%;
    min-height: 500px;
    margin-top: 30px;
}

#saveJobDescription:focus {
    background: #5ebb69;
}

.addElement button:focus {
    background: #5ebb69;
}